<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="header">
      <a href="/">UOS25</a>
      <button type="button" onclick="location.href='/CVS';">편의점</button>
      <button type="button" onclick="location.href='/GDS';">물품</button>
      <button type="button" onclick="location.href='/CARD';" class="chosen">제휴카드</button>
      <button type="button" onclick="location.href='/SCRPT';">구독</button>
    </div>

    <div class="cards_list">
    </div>


  </body>

</html>
