<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="header">
      <a href="/">UOS25</a>
      <button type="button" onclick="location.href='/CVS';" class="chosen">편의점</button>
      <button type="button" onclick="location.href='/GDS';">물품</button>
      <button type="button" onclick="location.href='/CARD';">제휴카드</button>
      <button type="button" onclick="location.href='/SCRPT';">구독</button>
    </div>

    <div style="margin-top: 40px; margin-left: 80px;">
      <div class="location">
        <p>위치</p>
        <div class="location_box">
          <ul>
            <% CVSlists.forEach(function(CVSlist) { %>
            <li>
                <button type="button" onclick="location.href='/CVS/demo';"><%= CVSlist[2] %></button>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="dealing_goods">
        <p>취급물품</p>
        <div class="dealing_goods_box">
          <ul>

          </ul>
        </div>
      </div>
    </div>


  </body>

</html>
