<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="header">
      <a href="/">UOS25</a>
      <button type="button" name="button"><a href="/CVS">편의점</a></button>
      <button type="button" name="button"><a href="/GDS">물품</a></button>
      <button type="button" name="button"><a href="/CARD">제휴카드</a></button>
      <button type="button" name="button"><a href="/SCRPT">구독</a></button>
    </div>

    <div class="location">
      <p>위치</p>
      <div class="location_box">
        <p></p>
      </div>
    </div>

    <div class="dealing_goods">
      <p>취급물품</p>
      <div class="dealing_goods_box">
        <p></p>
      </div>
    </div>

  </body>

</html>
