<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="header">
      <a href="/">UOS25</a>
      <button type="button" onclick="location.href='/CVS';">편의점</button>
      <button type="button" onclick="location.href='/GDS';" class="chosen">물품</button>
      <button type="button" onclick="location.href='/CARD';">제휴카드</button>
      <button type="button" onclick="location.href='/SCRPT';">구독</button>
    </div>

    <div class="goods_category">
      <button type="button" name="button">이벤트물품</button>
      <button type="button" name="button">과자류</button>
      <button type="button" name="button">음료수</button>
      <button type="button" name="button">식사류</button>
      <button type="button" name="button">생활용품</button>
    </div>

    <div class="goods_list">
      <div class="good_item">1번 물품</div>
      <div class="good_item">2번 물품</div>
      <div class="good_item">3번 물품</div>
      <div class="good_item">4번 물품</div>
      <div class="good_item">5번 물품</div>
      <div class="good_item">6번 물품</div>
      <div class="good_item">1번 물품</div>
      <div class="good_item">2번 물품</div>
      <div class="good_item">3번 물품</div>
      <div class="good_item">4번 물품</div>
      <div class="good_item">5번 물품</div>
      <div class="good_item">6번 물품</div>
    </div>

  </body>

</html>
