<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="pay_box">

    </div>

    <div class="pay_way">

    </div>
  </body>

</html>
