<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <a href="/">UOS25</a>
    <div class="pay">
      <div class="pay_box">
        <p>example text</p>
      </div>

      <div class="pay_way">
        <button type="button" name="button">카드결제</button>
        <button type="button" name="button">현금결제</button>
        <button type="button" name="button">기타결제</button>
        <button type="button" name="button" disabled=true></button>
        <button type="button" name="button" disabled=true></button>
        <button type="button" name="button" disabled=true></button>
        <button type="button" name="button">잠시후 결제</button>
        <button type="button" name="button">결제 완료</button>
      </div>
    </div>

  </body>

</html>
