


h1 {
  color: blue;
  font-size: 80px;
  margin-top: 40px;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  height: 40px;
  margin-left: 80px;
  width: 120px;
}

button:hover {
  background-color: #EEEEEE;
  border-radius: 5px;
}

.chosen {
  background-color: #DDDDDD;
  border-radius: 5px;
}

.chosen:hover {
  background-color: #DDDDDD;
  border-radius: 5px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 900px;
}



.location {
  display: inline-grid;
  text-align: center;
  width: 30%;
}

.location_box {
  border: 1px solid;
  border-radius: 5px;
  height: 700px;
}

.dealing_goods {
  display: inline-grid;
  text-align: center;
  width: 60%;
}

.dealing_goods_box {
  border: 1px solid;
  border-radius: 5px;
  height: 700px;
}



.goods_category {
  margin: 40px 80px 1px 80px;
}

.goods_list {
  display: grid;
  border: 1px solid;
  border-radius: 5px;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 200px 200px;
  grid-gap: 20px;
  height: 700px;
  margin: 1px 80px 1px 80px;
}

.good_item {
  border: 1px solid;
  border-radius: 5px;
  height: 200px;
  width: 400px;
  margin:40px 20px 40px 20px;
}



.cards_list {
  margin: 40px 80px 40px 80px;
}


.pay {
  display: flex;
}

.pay_box {
  border: 1px solid;
  border-radius: 5px;
  height: 700px;
  width: 900px;
}

.pay_way {
  border: 1px solid;
  border-radius: 5px;
  justify-content: center;
  height: 700px;
  margin-left: 10px;
  width: 240px;
}

.pay_way button {
  margin: 10px 50px 10px 50px;
  width: 140px;
  height: 65px;
}
