<!DOCTYPE html>

<html>

  <head>
    <%- include('../partials/head') %>
    <title>UOS25 편의점</title>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <h1>편의점</h1>

    <div class="location">
      <p>위치</p>
      <div class="location_box">
        <p></p>
      </div>
    </div>

    <div class="dealing_goods">
      <p>취급물품</p>
      <div class="dealing_goods_box">
        <p></p>
      </div>
    </div>

  </body>

</html>
