<!DOCTYPE html>

<html>

 <head>
   <%- include('../partials/head') %>
   <title>UOS25 물품</title>
 </head>

 <body>
   <%- include('../partials/nav') %>
   <h1>물품</h1>

   <div class="goods_category">
     <button type="button" name="button">통합</button>
     <button type="button" name="button">이벤트물품</button>
     <button type="button" name="button">과자류</button>
     <button type="button" name="button">음료수</button>
     <button type="button" name="button">식사류</button>
     <button type="button" name="button">생활용품</button>

   </div>

   <div class="goods_list">
     <p> </p>
   </div>

  </body>

</html>
